body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
input {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

.container {
  /* max-width: 1138px;
  margin: 24px 156px; */
  max-width: 1158px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

/* Header start */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.navigation-logo {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  margin-right: 76px;
}
.navigation-logo-part-color {
  color: #2e2f42;
}
.current {
  position: relative;
  color: #404bbf;
}
.navigation-list-item-link.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
}
.navigation-list {
  display: flex;
  gap: 40px;
  margin: 0;
  align-items: center;
}
.navigation-list-item {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.navigation-list-item-link {
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-item-link:hover {
  color: #404bbf;
}
.navigation-list-item-link:focus {
  color: #404bbf;
}
.header-adress {
  font-style: normal;
}
.adress-list {
  display: flex;
  gap: 40px;
  align-items: flex-end;
}
.adress-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-list-item-link {
  color: #434455;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-link {
  position: relative;
  color: #404bbf;
}
/* .studio-link::after {
  /* content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background-color: #404bbf; */

.address-list-item-link:hover {
  color: #404bbf;
}
.address-list-item-link:focus {
  color: #404bbf;
}
/* Header end */

/* Section hero-banner start */

.hero-banner {
  background-color: #2e2f42;
  padding: 188px 0;
  background-color: #2a2a2a;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
}
.container-box {
}
.hero-banner-title {
  color: #fff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin: 0 auto 48px;
}
.hero-banner-button {
  background-color: #4d5ae5;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  margin: 0 auto;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-banner-button:hover {
  background-color: #404bbf;
}
.hero-banner-button:focus {
  background-color: #404bbf;
}
/* Section hero-banner end*/

/* Section advantages start */
.advantages {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.advantages-list {
  display: flex;
  gap: 24px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.advantages-list:first-child {
  /* width: calc((100% - 72px) / 4); */
}
.advantages-list-item {
  width: calc((100% - 72px) / 4);
}
.icon-box {
  background-color: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.icon {
  text-align: center;
  padding: 24px 100px;
  width: 264px;
  height: 112px;
}
.advantages-list-item-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.advantages-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Section advantages end */

/* Section our team start */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  padding-left: 0;
  margin: 0 auto;
}
.team-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 0;
}

.team-list-item {
  background-color: #fff;
  width: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}

.team-list-item-image {
}
.team-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 0;
}
.icon-social-box {
}

.icon-social-box-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.social-list-item {
  width: 40px;
  height: 40px;
}

.icon-social-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color ease-in 200ms;
}
.icon-social-link:hover {
  background-color: #404bbf;
}
.icon-social-link:focus {
  background-color: #404bbf;
}
.icon-social {
  fill: #f4f4fd;
}
/* Section our team end */

/* Section our portfolio start */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  align-items: stretch;
  justify-content: flex-start;
  padding-left: 0;
  margin: 0;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0);
}
.image-animation {
  position: relative;
  overflow: hidden;
}
.image-animation-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .image-animation-text {
  transform: translateY(0%);
}

.portfolio-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list-item-image {
}
.portfolio-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Section our portfolio end */

/* Section footer start  */
.footer {
  background-color: #2e2f42;
  min-height: 312px;
  padding: 100px 0;
}
.footer-logo-part-color {
  color: #f4f4fd;
}
.footer-logo {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  width: 264px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-icons-container {
  display: flex;
  align-items: baseline;
}
.footer-logo-box {
  margin-right: 120px;
}
.footer-icons {
  display: flex;
  flex-direction: column;
}
.footer-icons-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
}
.social-list-item a {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-item-footer {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-list-item-footer a {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-item-footer a:hover {
  background-color: #31d0aa;
}
.social-list-item-footer a:focus {
  background-color: #31d0aa;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.form-text {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.form-box {
  margin-left: 80px;
}
.footer-form-input {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
}
.footer-form-input::placeholder {
  font-weight: 400;
  color: #ffffff;
}
/* .form-title {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 32px;
} */
.footer-form-button {
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  position: relative;
  text-align: left;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-text {
  box-sizing: content-box;
}
.footer-form-button:hover {
  background-color: #404bbf;
}
.footer-form-button:focus {
  background-color: #404bbf;
}

.footer-icon-button {
  fill: #fff;
  margin-left: 16px;
}
/* Section footer end */
/* modal start */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}
.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
}
.icon-modal-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}
.modal-close:focus {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-fieldset {
  border: none;
  margin-bottom: 8px;
}
.label-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.modal-input {
  background-color: transparent;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-box {
  position: relative;
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-box:hover .modal-input,
.input-box:focus-within .modal-input {
  border: 1px solid #4d5ae5;
}
.input-box:hover .modal-icon,
.input-box:focus-within .modal-icon {
  fill: #4d5ae5;
}
.input-comment {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-comment::placeholder {
}
.input-comment:hover {
  border: 1px solid #4d5ae5;
}
.input-comment:focus {
  border: 1px solid #4d5ae5;
}
.input-comment:hover::placeholder {
  color: #4d5ae5;
}
.input-comment:focus::placeholder {
  color: #4d5ae5;
}
.comment-box {
  margin-bottom: 16px;
}
.checkbox-container {
  margin-bottom: 24px;
}
.checkbox {
}
.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.custom-checkbox {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.icon-checkbox {
}
.checkbox:checked + .checkbox-label .custom-checkbox,
.checkbox:checked + .checkbox-label .custom-checkbox .icon-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
/* .checkbox:checked + .checkbox-label .custom-checkbox .icon-checkbox {
  fill: #f4f4fd;
} */
.link-privacy {
  color: #4d5ae5;
}
.modal-button-primary {
  display: block;
  margin: 0 auto;
}
