body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
input {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
/* Common */
.container {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/* Common */
/* Header start */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-logo {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  padding: 16px 0;
  display: block;
}
.navigation-logo-part-color {
  color: #2e2f42;
}
.navigation-list,
.header-adress {
  display: none;
}
.mobile-menu-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.mobile-menu-btn-icon {
  display: block;
  fill: #2f2f37;
}
@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
  .navigation-logo {
    margin-right: 120px;
    padding: 24px 0;
  }
  .header-navigation {
    display: flex;
    align-items: center;
  }
  .current {
    position: relative;
    color: #404bbf;
  }
  .navigation-list-item-link.current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background-color: #404bbf;
  }

  .navigation-list {
    display: flex;
    gap: 40px;
    margin: 0;
    align-items: center;
  }
  .navigation-list-item {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .navigation-list-item-link {
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-list-item-link:hover {
    color: #404bbf;
  }
  .navigation-list-item-link:focus {
    color: #404bbf;
  }
  .studio-link {
    position: relative;
    color: #404bbf;
  }
  .header-adress {
    font-style: normal;
    display: block;
  }
  .adress-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-end;
  }
  .adress-list-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
  .address-list-item-link {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-list-item-link:hover {
    color: #404bbf;
  }
  .address-list-item-link:focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation-logo {
    margin-right: 76px;
  }
  .adress-list {
    flex-direction: row;
    gap: 40px;
    align-items: flex-end;
  }
  .adress-list-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* Mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-btn-close {
  position: absolute;
  top: 24;
  right: 24px;
}
.mobile-menu-nav {
  margin-bottom: auto;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* Mobile menu */
/* Section hero-banner start */
.hero-banner {
  background-color: #2e2f42;
  padding: 72px 0;
  background-color: #2a2a2a;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-image-mobile.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 320px;
}
@media (min-resolution: 192dpi) {
  .hero-banner {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-image-mobile@2x.jpg");
  }
}
.hero-banner-title {
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin: 0 auto 72px;
}
.hero-banner-button {
  background-color: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  margin: 0 auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-banner-button:hover {
  background-color: #404bbf;
}
.hero-banner-button:focus {
  background-color: #404bbf;
}
@media screen and (min-width: 768px) {
  .hero-banner {
    background-color: #2e2f42;
    padding: 112px 0;
    background-color: #2a2a2a;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-image-tablet.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 768px;
  }
  .hero-banner-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto 36px;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero-banner {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-image-tablet@2x.jpg");
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .hero-banner {
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-image.jpg");
    max-width: 1440px;
  }
  .hero-banner-title {
    margin: 0 auto 48px;
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero-banner {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-image@2x.jpg");
  }
}
/* Section hero-banner end*/
/* Section advantages start */
.advantages {
  padding: 96px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.advantages-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.icon-box {
  display: none;
}
.icon {
  display: none;
}
.advantages-list-item-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.advantages-list-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .advantages-list {
    gap: 72px 24px;
  }
  .advantages-list-item {
    width: calc((100% - 24px) / 2);
  }
  .advantages-list-item-title {
    text-align: left;
  }
}
@media screen and (min-width: 1158px) {
  .advantages {
    padding: 120px 0;
  }
  .advantages-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
  .advantages-list-item {
    width: calc((100% - 72px) / 4);
  }
  .icon-box {
    background-color: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
  .icon {
    text-align: center;
    padding: 24px 100px;
    width: 264px;
    height: 112px;
    display: block;
  }
  .advantages-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .advantages-list-item-text {
    font-weight: 400;
  }
}
/* Section advantages end */
/* Section our team start */
.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
  padding-left: 0;
  margin: 0 auto;
}
.team-box {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
}
.team-list-item {
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}
.team-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
}
.icon-social-box-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.social-list-item {
  width: 40px;
  height: 40px;
}
.icon-social-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color ease-in 200ms;
}
.icon-social-link:hover {
  background-color: #404bbf;
}
.icon-social-link:focus {
  background-color: #404bbf;
}
.icon-social {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
}
@media screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
  .team-list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
  }
}
/* Section our team end */
/* Section our portfolio start */
.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  align-items: stretch;
  justify-content: flex-start;
  padding-left: 0;
  margin: 0;
}
.portfolio-list-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.image-animation {
  position: relative;
  overflow: hidden;
}
.image-animation-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .image-animation-text {
  transform: translateY(0%);
}
.portfolio-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-list-item-image {
}
.portfolio-list-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    row-gap: 72px;
    column-gap: 24px;
  }
  /* .portfolio-list-item-image {
    width: 356px;
  } */
  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-list {
    row-gap: 40px;
    column-gap: 24px;
  }
  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }
  .portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0);
  }
}
/* Section our portfolio end */
/* Section footer start  */
.footer {
  background-color: #2e2f42;
  min-height: 312px;
  padding: 96px 0;
}
.footer-logo-part-color {
  color: #f4f4fd;
}
.footer-logo {
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  width: 264px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-icons-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}
.footer-logo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}
.footer-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 72px;
}
.footer-icons-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}
.footer-icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
}
.social-list-item a {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-item-footer {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-list-item-footer a {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-item-footer a:hover {
  background-color: #31d0aa;
}
.social-list-item-footer a:focus {
  background-color: #31d0aa;
}
.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.form-text {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}
.form-box {
}
.footer-form-input {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  width: 288px;
}
.footer-form-input::placeholder {
  font-weight: 400;
  color: #ffffff;
}
.footer-form-button {
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  position: relative;
  text-align: left;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-text {
  box-sizing: content-box;
}
.footer-form-button:hover {
  background-color: #404bbf;
}
.footer-form-button:focus {
  background-color: #404bbf;
}
.footer-icon-button {
  fill: #fff;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .footer-icons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 24px;
    padding-left: 108px;
  }
  .footer-form-input {
    width: 264px;
  }
  .footer-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .form-text {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: left;
  }
  .footer-logo-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 72px;
  }
}
/* @media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .footer-icons-container {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    padding-left: 0;
    gap: 0;
  }
  .footer-logo-box {
    margin-right: 120px;
    margin-left: 156px;
    margin-bottom: 0;
  }
} */
@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  .footer-icons-container {
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-left: 0;
    padding-right: 0;
    gap: 0;
    margin: 0 auto;

  }
  .container-footer {
    margin: 0 auto;
  }

  .footer-logo-box {
    margin-right: 120px;
    align-items: flex-start;
    min-width: 264px;
    padding: 0;
    /* margin-left: 156px; */
  }

  .footer-icons {
    align-items: flex-start;
    margin-bottom: 0;
  }

  .footer-icons-title {
    text-align: left;
  }

  .footer-form {
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
  }

  .form-text {
    text-align: left;
    margin-bottom: 16px;
  }

  .form-box {
    margin-left: 80px;
  }

  .footer-form-input {
    width: 264px;
  }

  .footer-form-button {
    min-width: 165px;
  }
}